---
# layout: vertical
permalink: templates/banner
published: true
title: Banner
---



<div class="containter-fluid">
      
        
        <div class="row row-margin template">
                <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/kaart.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Banner</h1>
                        
                        <p>
                                        Voor margens en positionering van elementen vindt je alles terug op de illustratie links.

                        </p>
                        <p>
                            De banner is een een frontlit banner van <strong>5m op 3m</strong> met <strong> zoomringen om de 30 cm.</strong>
                            De banner mag <strong>niet aangepast worden</strong> met uitzondering van de afbeelding onderaan en/of achtergrond kleur.
                            De <strong> achtergrond </strong> mag veranderd worden naar zowel een van de <strong> primaire als secundaire kleuren. </strong>

            </p>
                        <div class="col-12 col-md-6 col-lg-6 float-left">
            <p>     <strong>Logo</strong> <br>
                   <strong>Afmetingen: </strong>  700mm hoog x 825mm breed <br>
                    <strong>CMYK:</strong> 0/0/0/0 <br>
                    <strong>RGB:</strong> 256/256/256 <br>
                   
                   </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6 float-left">
                <p>
                       <strong> Tekst elementen</strong> <br>

                       <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                <strong>HEX:</strong> #c83c3d

                </p>
                <p>
                                <strong> Kleuren</strong> <br>
         
                                <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                Hetzelfde voor het grafisch element maar met 50% transparantie.
         
                         </p>
            </p>
        </div>
            <h2>Template</h2>
                        
            <div class="button">
                        <div><a href="../templates/sjabloon_banner.zip" class="btn">Download <i class="fas fa-download"></i></a></div>
                        <div class="bg"></div>
      
      </div>

        </div>
        
        </div>
            

            </div>