---
layout: vertical
permalink: templates/briefhoofd
published: true
title: Briefhoofd
---





<div class="containter-fluid">
      
        
        <div class="row row-margin template">
            
            <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/briefhoofd.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Briefhoofd</h1>
                        <h2 class="whiteh2">Guidelines</h2>
                        <p><strong>Voor margens en positionering van elementen vindt je alles terug op de illustratie links.</strong></p>
                        <p>   <strong>Kleur voor grafische elementen</strong> <br>
                                CMYK: 0/88/74/0 <br>
                              RGB: 231/57/59 <br>
                              HEX: #e7393a <br>
                          </p> 
                          
                          <p>    
                              <strong> Voor leestekst gebruik je het volgende: </strong> <br>
                              Gotham <br>
                              10pt grootte <br>
                              14pt regelstand <br>
                      </p>
         
                        <br>
                        <div class="button">
                                <div><a href="../templates/sjabloon_briefhoofd.docx" class="btn" download=""> Download <i class="fas fa-download"></i></a></div>
                                <div class="bg"></div>
                              
                              </div>
        </div>
    
        </div>
        <div class="row row-margin template">
                <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/brief.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Enveloppe</h1>
                        <h2>Guidelines</h2>
         
                        <p><strong>Voor margens en positionering van elementen vindt je alles terug op de illustratie links.</strong></p>
              <p>   <strong>Kleur voor grafische elementen</strong> <br>
                      CMYK: 0/88/74/0 <br>
                    RGB: 231/57/59 <br>
                    HEX: #e7393a <br>
                    20% transparantie <br>
                </p> 
                
              

            <h2>Template</h2>
                        
                        <div class="button">
                                <div><a href="../templates/sjabloon_enveloppe.zip" class="btn" download=""> Download <i class="fas fa-download"></i></a></div>
                                <div class="bg"></div>
                              
                              </div>

        </div>
        
        </div>

            </div>