---
# layout: vertical
permalink: templates/facebook
published: true
title: Facebook Banner
---


<div class="containter-fluid">
      
        
        <div class="row row-margin template">
                <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/banner.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Facebook Banner</h1>
                        <h2>Guidelines</h2>
            <p>
                    <strong> Er zijn geen guidelines voor de Facebook banner mits volgende vereisten:</strong> <br>
                    Je houdt rekening met de afmetingen (315px op 851px).<br> 
                    Je houdt rekening met de marges (50px boven, 60px onder en 144px links en rechts).<br>
                    Je gebruikt altijd de huisstijlkleuren. <br>
                    Je gebruikt altijd het witte logo met baseline.

            </p>

            <h2>Template</h2>
                        
                        <div class="button">
                                <div><a href="../templates/facebook_kit.zip" class="btn" download="">Download <i class="fas fa-download"></i></a></div>
                                <div class="bg"></div>
                              
                              </div>

        </div>
        
        </div>
            

            </div>