---
layout: vertical
permalink: templates/folder
published: true
title: Folder
---






<div class="containter-fluid">
      
        
                <div class="row row-margin template">
                        <div class="col-12 col-md-4 col-lg-4 template-img">
                                <img src="{{ '/images/logo-guidelines/folder.png' | relative_url }}" class="center">
                            </div> 
        
                        <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                                
                                <h1>Folder</h1>
                                
                    <p>
                                De folder is een <strong> 3-luik folder </strong> met een totale breedte van 315mm op 148mm. <br>
                                Één luik heeft dus een breedte van 105mm zoals in de illustratie. 
                        </p>

                        <p> Gebruik altijd <strong>één van de primaire kleuren</strong> als achtergrond.</p>
                        <div class="col-12 col-md-6 col-lg-6 float-left">
                           <p>   <strong>Titels:</strong> <br>
                                Gotham Bold <br>
                                18pt grootte <br>
                                14pt regelafstand <br>
                                </p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 float-left">
                               <p> <strong> Leestekst:</strong> <br>
                                Gotham Regular <br> 
                                10pt grootte <br>
                                14pt regelafstand <br>
                                
                    </p>
                </div>
                    <h2>Template</h2>
                               
                                <div class="button">
                                        <div><a href="../templates/sjabloon_folder.zip" class="btn" download="">Download <i class="fas fa-download"></i></a></div>
                                        <div class="bg"></div>
                                      
                                      </div>
        
                </div>
                
                </div>
                    
        
                    </div>