---
layout: vertical
permalink: templates/nieuws
published: true
title: Nieuwsbrief
---





<div class="containter-fluid">
      
        
                <div class="row row-margin template">
                        <div class="col-12 col-md-4 col-lg-4 template-img">
                                <img src="{{ '/images/logo-guidelines/nieuwsbrief.png' | relative_url }}" class="center">
                            </div> 
        
                        <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                                <h1>Digitale Nieuwsbrief</h1>
                                <h2>Guidelines</h2>
                    <p>

                            De nieuwsbrief is zodanig gemaakt dat deze modulair is, dit wil zeggen dat je bepaalde element vrij mag verplaatsen in een volgorde naar keuze. Dit is enkel het geval bij elementen nr. 1 en 2 (zie illustratie). Alle andere element blijven altijd bovenaan of onderaan.
                    </p>
                    <div class="col-12 col-md-6 col-lg-6">
                    <p>
                                <strong>Verder guidelines zijn: </strong> <br>
                                Het logo is 40mm op 50mm <br></div>

                                <div class="col-12 col-md-6 col-lg-6 float-left">
                                <strong>Titels:</strong> <br>
                                30pt grootte <br>
                                36pt regelafstand <br></div>

                                <div class="col-12 col-md-6 col-lg-6 float-left"><p>
                                <strong>Leestekst: </strong> <br>
                            10pt grootte <br>
                            16pt regelafstand <br>
                            </p>
                            

                                
                            </p> </div>
        
                    <h2>Template</h2>
                                
                                <div class="button">
                                        <div><a href="../templates/sjabloon_nieuwsbrief.zip" class="btn" download="">Download <i class="fas fa-download"></i></a></div>
                                        <div class="bg"></div>

                                     
                                    </div>
                </div>
               
                
                </div>
               
                        
        
                    </div>