---
# layout: vertical
permalink: templates/powerpoint
published: true
title: Banner
---



<div class="containter-fluid">
      
        
        <div class="row row-margin template">
                <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/kaart.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Powerpoint</h1>
                        
                        <p>
                                        De powerpoint is een handige tool om presentatie of getuigenis van Youfra kracht bij te zetten. De presentaie is dan ook ontworpen om eenvoudige manier de booschap over te brengen.
                                        Je mag echter alleen de voorziene layouts in de Powerpoint gebruiken.

                        

                        </p>
                       
                        <div class="col-12 col-md-6 col-lg-6 float-left">
            <p>     <strong>Guidelines:</strong> <br>
                    Gebruik alleen de voorziene layouts. <br>
                    Je mag afbeeldingen toevoegen en verwijderen. <br>
                    Verander geen kleuren of lettertypes.
                    Verander het achtergrondkleur niet. <br>
                   
                   </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6 float-left">
                <p>
                       <strong> Tekst elementen</strong> <br>

                       <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                <strong>HEX:</strong> #c83c3d

                </p>
                <p>
                                <strong> Kleuren</strong> <br>
         
                                <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                Hetzelfde voor het grafisch element maar met 50% transparantie.
         
                         </p>
            </p>
        </div>
            <h2>Template</h2>
                        
            <div class="button">
                        <div><a href="../templates/sjabloon_powerpoint.zip" class="btn">Download <i class="fas fa-download"></i></a></div>
                        <div class="bg"></div>
      
      </div>

        </div>
        
        </div>
            

            </div>