---
# layout: vertical
permalink: templates/visitekaartje
published: true
title: Visitekaartje
---



<div class="containter-fluid">
      
        
        <div class="row row-margin template">
                <div class="col-12 col-md-4 col-lg-4 template-img">
                        <img src="{{ '/images/logo-guidelines/kaart.png' | relative_url }}" class="center">
                    </div> 

                <div class="col-12 col-md-8 col-lg-8 mycolor2  template-text text-padding">
                        <h1>Visitekaartje</h1>
                        
                        <p>
                                        Voor margens en positionering van elementen vindt je alles terug op de illustratie links.

                        </p>
                        <div class="col-12 col-md-6 col-lg-6 float-left">
            <p>     <strong>Tekst elementen:</strong> <br>
                    Gotham <br>
                    9pt grootte (14pt voor Youfra Vlaanderen) <br>
                    10pt regelstand <br>
                    <strong>CMYK:</strong> 0/0/0/0 <br>
                    <strong>RGB:</strong> 256/256/256 <br>
                    <strong>HEX:</strong> #FFFFFF
                   </p>
                </div>
                <div class="col-12 col-md-6 col-lg-6 float-left">
                <p>
                       <strong> Achtergrond</strong> <br>

                       <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                <strong>HEX:</strong> #c83c3d

                </p>
                <p>
                                <strong> Grafisch element</strong> <br>
         
                                <strong>CMYK:</strong> 0/88/74/0 <br>
                                <strong>RGB:</strong> 200/60/60 <br>
                                <strong>HEX:</strong> #c83c3d <br>
                                Maar met 50% transparantie.
         
                         </p>
            </p>
        </div>
            <h2>Template</h2>
                        
            <div class="button">
                        <div><a href="../templates/sjabloon_kaartje.zip" download="" class="btn">Download <i class="fas fa-download"></i></a></div>
                        <div class="bg"></div>
      
      </div>

        </div>
        
        </div>
            

            </div>